.product-card {
  width: 300px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  background: #fff;
  transition: 0.3s;
}

.product-card-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  transition: 0.3s;
}

.product-card:hover {
  background-color: #e0f7fa;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 0.2);
}

.product-card:hover .product-card-image {
  transform: scale(1.1);
}
